<div id="footer">
    <div class="container">
        <div class="footer">
            <p class="mb-15">
                <a href="#">首页</a><b>|</b><a href="#?id=330">关于我们</a><b>|</b><a href="#?id=78">新手帮助</a><b>|</b><a href="#">用户反馈</a><!---->
            </p>
            <p class="text-left">Copyright@2014 <br>Powered by <a target="_blank" class="f-warning" href=""></a></p>
                        <span>
                            商务合作：
                        </span>
        </div>
        <div class="help-fixed">
            <ul>
                <li>
                    <a href="#?id=29">网站公告</a>
                </li>
                <li>
                    <a href="#?id=540">网站更新</a>
                </li>
                <li>
                    <a href="#?id=330">网站介绍</a>
                </li>
                <li>
                    <a href="#?id=582">使用帮助</a>
                </li>
                <li>
                    <a href="#?id=337">用户须知</a>
                </li>
                <li>
                    <a href="#">用户反馈</a>
                </li>
            </ul>

        </div>
    </div>
</div>