<div id="header">
    <div class="header">
        <div class="container">
            <a href="#"><div class="logo"></div></a>
            <ul id="common-nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">DOTA2竞猜</a></li>
                <li><a href="#">饰品市场</a></li>
                <li class="new-active-ico"><a href="#">赛事</a></li>
                <li><a href="#">饰品库</a></li>
                <li><a href="#">V视角</a></li>
                <li class="active"><a href="#">ROLL饰品</a></li>
                <li><a href="#">我的VP</a></li>
            </ul>
            <div class="language dropdown pull-right">
                <a class="btn-link" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="country-cn active country-icon">
                    </i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#?lang=en_us">
                            <i class="country-icon country-gb"></i>English(英语)
                        </a>
                    </li>
                </ul>
            </div>
            <div id="user-welcome">    <div class="pull-left mt-10 un-login">
                <a href="login.html" class="mr-20">登录</a>
                <a href="register.html" class="mr-20">注册新用户</a>
            </div>
                <!--<div class="user-head">
                    <a href="login.html">
                        <img src="img/avatar.png" width="30" height="30" alt="280442162">
                    </a>
                </div>-->
                <!-- <div class="pull-left mt-10">
                     <div class="user-menu dropdown">
                         <a id="user-menu-panel" data-target="#" href="security.html#" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class="ellipsis">280442162</span> <b class="caret"></b>
                             <b class="user-menu-caret"></b>
                         </a>
                         <div class="user-menu-panel" role="menu" aria-labelledby="user-menu-panel">
                             <ul>
                                 <li>
                                     <a href="roll_name_vp.html"><i class="personal-icon"></i>个人主页</a>
                                 </li>
                                 <li>
                                     <a href="http://www.vpgame.com/login/logout.html"><i class="exit-icon"></i>退出登录</a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                     <span class="pull-left level-1">LV1</span>

                     <div class="info-box pull-left mt-5">
                         <a href="http://www.vpgame.com/user/message.html">
                             <i class="info-icon"></i>
                         </a>
                     </div>
 -->
            </div>
        </div>
    </div>
</div>
</div>