<div id="header">
    <div class="header">
        <div class="container">
            <a href="http://www.vpgame.com/"><div class="logo"></div></a>
            <ul id="common-nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">DOTA2竞猜</a></li>
                <li class="new-active-ico"><a href="#">CS:GO竞猜</a></li>
                <li><a href="#">赛事</a></li>
                <li><a href="#">饰品市场</a></li>
                <li><a href="#">V视角</a></li>
                <li><a href="#">饰品库</a></li>
                <li><a href="#">ROLL饰品</a></li>
                <li class="active"><a href="security.html">我的VP</a></li>
            </ul>                        <div class="language pull-right dropdown">
            <a class="btn-link" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="                                        cn-icon
                                     active">
                </i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="security.html?lang=en_us">
                        <i class="usa-icon active"></i>English(英语)
                    </a>
                </li>
                <li>
                    <a href="security.html?lang=ru">
                        <i class="ru-icon active"></i>Русский(俄语)
                    </a>
                </li>
            </ul>
        </div>
            <div id="user-welcome">    <div class="user-head">
                <a href="login.html">
                    <img src="img/avatar.png" width="30" height="30" alt="280442162">
                </a>
            </div>
                <div class="pull-left mt-10">
                    <div class="user-menu dropdown">
                        <a id="user-menu-panel" data-target="#" href="security.html#" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ellipsis">280442162</span> <b class="caret"></b>
                            <b class="user-menu-caret"></b>
                        </a>
                        <div class="user-menu-panel" role="menu" aria-labelledby="user-menu-panel">
                            <ul>
                                <li>
                                    <a href="roll_name_vp.html"><i class="personal-icon"></i>个人主页</a>
                                </li>
                                <li>
                                    <a href="http://www.vpgame.com/login/logout.html"><i class="exit-icon"></i>退出登录</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span class="pull-left level-1">LV1</span>

                    <div class="info-box pull-left mt-5">
                        <a href="http://www.vpgame.com/user/message.html">
                            <i class="info-icon"></i>
                        </a>
                    </div>

                </div>

               <!-- <script>

                    if($){
                        $('#user-menu-panel').dropdownHover();
                    }
                </script>--></div>
        </div>
    </div>
</div>