<div id="footer">
    <div class="container">
        <div class="clearfix">
            <a class="app-download" href="http://dota2.vpgame.com/roll/default-index.html?Roll%5Bsort%5D=t.id+desc###">
                <p>
                    下载手机端                            </p>
                <img src="./roll_other_index_files/vpgame-weixin.jpg" width="71" height="71" alt="">
            </a>
            <dl class="footer-link">
                <dt>功能介绍</dt>
                <dd>
                    <a href="http://dota2.vpgame.com/help/new.html?id=127&amp;lang=zh_cn">饰品竞猜</a>
                </dd>
                <dd>
                    <a href="http://dota2.vpgame.com/help/new.html?id=127&amp;lang=zh_cn">ROLL活动</a>
                </dd>
                <dd>
                    <a href="http://dota2.vpgame.com/help/new.html?id=127&amp;lang=zh_cn">赛事平台</a>
                </dd>
            </dl>
            <dl class="footer-link">
                <dt>新手帮助</dt>
                <dd>
                    <a href="http://dota2.vpgame.com/help/new.html?id=78&amp;lang=zh_cn">竞猜教程</a>
                </dd>
                <dd>
                    <a href="http://dota2.vpgame.com/help/new.html?id=183&amp;lang=zh_cn">存取教程</a>
                </dd>
                <dd>
                    <a href="http://dota2.vpgame.com/help/new.html?id=85&amp;lang=zh_cn">市场教程</a>
                </dd>
            </dl>
            <dl class="footer-link">
                <dt>关于我们</dt>
                <dd>
                    <a href="http://dota2.vpgame.com/help/new.html?id=127&amp;lang=zh_cn">VPGAME</a>
                </dd>
                <dd>
                    <a href="javascript:void(0);">联系我们</a>
                </dd>
                <dd>
                    <a href="javascript:void(0);">招贤纳士</a>
                </dd>
            </dl>
            <dl class="footer-link">
                <dt>投诉建议</dt>
                <dd>
                    <a href="http://dota2.vpgame.com/user/ticket.html">举报不良信息</a>
                </dd>
                <dd>
                    <a href="http://dota2.vpgame.com/user/ticket.html">投诉玩家</a>
                </dd>
                <dd>
                    <a href="http://dota2.vpgame.com/user/ticket.html">意见反馈</a>
                </dd>
            </dl>                    </div>
        <hr>
        <div class="footer-bottom">
            <div class="clearfix">
                <p class="copyright">
                    Copyright©2014 <a href="http://dota2.vpgame.com/">vpgame.com</a>  All rights reserved.  浙ICP备14028335号-2<br>
                    增值电信业务经营许可证：浙B2-20140286                                &nbsp;&nbsp;&nbsp;Powered by <a target="_blank" href="http://www.steampowered.com/">Steam</a>
                </p>
                <div class="pull-right">
                                <span class="telephone">
                                    客服热线：<i class="telephone-number" style="font-size:18px;font-family: Arial;background:none;">400-800-6676</i>

                                </span>
                                <span class="cooperate-email ml10">
                                    <span class="telephone">
                                        商务合作：
                                    </span>
                                </span>
                    <ul class="vp-share">
                        <li>
                            <a target="_blank" href="http://weibo.com/vpgame" class="sina"></a>
                            <a target="_blank" href="https://www.facebook.com/VPGAMEPAGE" class="facebook"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="friendly-link">
                <span class="pull-left">友情连接：</span>
                <p class="friendly-link-content">
                    <a href="http://www.dota2rpg.com/" target="_blank">DOTA2RPG</a>
                    <a href="http://www.carry6.com/dota2/" target="_blank">星竞届dota2</a>
                    <a href="http://fight.pcgames.com.cn/dota2/" target="_blank">太平洋游戏dota2</a>
                    <a href="http://games.sina.com.cn/dota2/index.shtml" target="_blank">新浪dota2</a>
                    <a href="http://gg.163.com/" target="_blank">易竞技</a>
                    <a href="http://dota2.178.com/" target="_blank">178dota2</a>
                    <a href="http://dota2.766.com/" target="_blank">766dota2</a>
                    <a href="http://dota2.tgbus.com/" target="_blank">巴士dota2</a>
                    <a href="http://dota2.replays.net/" target="_blank">锐派dota2</a>
                    <a href="http://www.gk99.com/" target="_blank">游戏港口</a>
                </p>
            </div>
        </div>
    </div>
</div>