<div id="header">
    <div class="header">
        <div class="container">
            <a href="#"><div class="logo"></div></a>
            <div class="language dropdown pull-right">
                <a class="btn-link" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="                                       country-cn
                                    active country-icon">
                    </i>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#?t.id+desc&amp;lang=en_us">
                            <i class="country-icon country-gb"></i>English(英语)
                        </a>
                    </li>
                </ul>
            </div>
            <div id="user-welcome">    <div class="pull-left mt-10 un-login">
                <a href="http://dota2.vpgame.com/login.html" class="mr-20">登录</a>
                <a href="http://dota2.vpgame.com/register.html" class="mr-20">注册新用户</a>
            </div>
                <script>

                    if($){
                        $('#user-menu-panel').dropdownHover();
                    }
                </script></div>
            <div class="pull-right un-login mr30" style="padding-top:6px;">
                <p class="pull-left mt-10">
                    <a href="http://zh.vpgame.com/">返回旧版网站</a>
                </p>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="container ">
            <ul>
                <li class="first ">
                    <a href="http://www.vpgame.com/"><p><i class="index-icon"></i></p>首页</a>
                </li>
                <li>
                    <a href="http://dota2.vpgame.com/guess.html"><p><i class="spinach-icon"></i></p>DOTA2竞猜</a>
                </li>
                <li>
                    <a href="http://dota2.vpgame.com/match.html"><p><i class="csgo-spinach-icon"><b class="new-item-icon"></b></i></p>CS:GO竞猜</a>
                </li>

                <li>
                    <a href="http://dota2.vpgame.com/league.html">
                        <p>
                            <i class="hall-icon"></i>
                        </p>
                        赛事                                    </a>
                </li>
                <li>
                    <a href="http://dota2.vpgame.com/market.html"><p><i class="market-icon"></i></p>饰品市场</a>
                </li>
                <li>
                    <a href="http://dota2.vpgame.com/market/item.html">
                        <p>
                            <i class="item-icon"></i>
                        </p>
                        饰品库                                </a>
                </li>
                <li>
                    <a href="http://dota2.vpgame.com/event/dota.html"><p><i class="news-icon"></i></p>V视角</a>
                </li>


                <li class="active">
                    <a href="http://dota2.vpgame.com/roll.html"><p><i class="roll-icon"></i></p>ROLL饰品</a>
                </li>
                <li class="last ">
                    <a href="http://www.vpgame.com/user/security.html"><p><i class="user-icon"></i></p>我的VP</a>
                </li>
            </ul>
        </div>
    </div>
</div>