<div class="clearfix roll-hd new-roll">
    <ul class="roll-room-screen">
        <li class="roll-screen-item roll-room-new active">
            <a href="roll_index_02.html" ng-click="greet({params:'sort=id_desc'})">最新</a>
        </li>
        <li class="roll-screen-item roll-room-hot ">
            <a href="roll_index_03.html" ng-click="greet({params:'sort=users_desc'})">最热</a>
        </li>
        <!--                <li class="dropdown new-dropdown roll-room-dropdown ">
                            <a href="###" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                会员头衔                        <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/roll/default.html?Roll%5Btag%5D=1">竞技达人</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/roll/default.html?Roll%5Btag%5D=2">职业队员</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/roll/default.html?Roll%5Btag%5D=3">组织机构</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/roll/default.html?Roll%5Btag%5D=4">电竞解说</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/roll/default.html?Roll%5Btag%5D=5">竞猜明灯</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/roll/default.html?Roll%5Btag%5D=7">土豪</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/roll/default.html">全部头衔</a></li>
                            </ul>
                        </li>-->
    </ul>
    <div class="roll-search-box pull-right">
        <form id="search-form" action="#" method="get">
            <input class="roll-room-search" name="Roll[w]" id="Roll_w" type="text" maxlength="45">                <button type="submit" class="btn-roll-search">
            <i class="roll-search-icon"></i>
        </button>
        </form>            </div>
    <div class="pull-right creat-rool-btn">
        <div class="">
        </div>
    </div>
</div>