a{color: #258db9;}
.container.new-roll{background-color: #2e3238;margin-bottom: 20px;margin-top: 15px;}
.new-roll-view.container{margin-bottom: 20px;}
.new-roll-hd{width: 100%;height: 100px;background: #1e2023;padding: 10px 20px 20px 20px;overflow: hidden;}
.roll-rule-hd{font-size: 14px;font-weight: bold;color:#14b9d6;}
.new-roll-rule p{color: #a1a5a9;}
.roll-hd{border-top:1px solid #2e3238;background: #22252a;height: 50px;}
.roll-hd.new-roll{line-height: 50px;margin-bottom: 5px;}
.roll-hd .common-breadcrumb{background: transparent;}
.roll-zan{line-height: 11px;color: #bbb;display: inline-block;cursor: pointer;float: left;margin: 6px 6px 0 0;}
.zan-icon{display: inline-block;width:24px;height:18px;background-image: url(../img/roll-icon.png);background-repeat: no-repeat;background-position: -117px -94px;vertical-align: middle;margin-right: 5px;margin-top: -3px;}
.step-icon{display: inline-block;width:24px;height:18px;background-image: url(../img/roll-icon.png);background-repeat: no-repeat;background-position: -146px -94px;vertical-align: middle;margin-right: 5px;margin-top: -3px;}
.roll-zan.active{color: #258db9;}
.roll-zan.active .zan-icon{background-position: -23px -1px;}
.roll-bodyer{background: url("../img/match-bg.jpg") no-repeat center top #1e2124;background-repeat: no-repeat;background-position: top center ;padding-top: 5px;min-height: 700px;}
.btn-zan{background-color: #258db9;font-size: 12px;color: #fff;border-color: #258db9;border-radius: 30px;height: 30px;padding: 6px 25px;margin-left: 10px;}
.creat-rool-btn{margin-top: -2px;}
.my-attend.btn-zan{background-color: #5d8da1;border-color: #5d8da1;}
.my-attend.btn-zan:hover{color: #fff;background-color: #6d98ab;box-shadow: 0 0 10px #6d98ab;-webkit-transition: all 320ms;-ms-transition: all 320ms;-moz-transition: all 320ms;transition: all 320ms;}
.btn-zan:hover{color:#fff;background-color: #3b99c0;box-shadow: 0 0 10px #3b99c0;-webkit-transition: all 320ms;-ms-transition: all 320ms;-moz-transition: all 320ms;transition: all 320ms;}
.btn-zan:active,.btn-zan:focus,.btn-zan:active:hover,.btn-zan:focus:hover{box-shadow: none;border-color: #666;color: #fff;}
.btn-join{background-color: transparent;font-size: 12px;color: #ff6600;border-color: #ff6600;border-radius: 30px;height: 30px;}
.btn-join:hover{color: #ff6600;box-shadow: 0 0 10px #ff6600;-webkit-transition: all 320ms;-ms-transition: all 320ms;-moz-transition: all 320ms;transition: all 320ms;}
.btn-join:active,.btn-join:focus,.btn-join:active:hover,.btn-join:focus:hover{box-shadow: none;border-color: #ff6600;color: #ff6600;}
.btn-found-roll{color: #79a118;border-color: #79a118;height: 26px;line-height: 12px;background-color: transparent;}
.btn-found-roll.new-roll{color: #fff;border-color: #79a118;background: #79a118;height: 30px;margin-top: 24px;}
.btn-found-roll:hover{color: #fff;box-shadow: 0 0 10px #79a118;-webkit-transition: all 320ms;-ms-transition: all 320ms;-moz-transition: all 320ms;transition: all 320ms;background-color: #8daf3a;}
.btn-found-roll:active,.btn-found-roll:focus,.btn-found-roll:active:hover,.btn-found-roll:focus:hover{color: #fff;box-shadow: 0 0 10px #79a118;outline: none;}
.roll-user-box{margin-bottom: 20px;}
.roll-user-img{float: left;width: 106px;height:106px;border:3px solid #35363b;padding:3px;background-color: #5b5c5f;border-radius: 58px;margin-left: 10px;}
.roll-user-img img{display: block;border-radius: 58px;background-color: transparent;}
.roll-user-info{margin-left: 142px;min-height: 106px;padding-top: 10px;}
.roll-user-name{font-size: 16px;color: #bbb;float: left;}
.roll-user-name .level-9{font-size: 12px;}
.roll-room-list .roll-title{margin:0 0 5px 5px;}
.roll-title{display: inline-block;font-size: 12px;padding:0 9px;height: 19px;line-height: 17px;color: #8c8c8c;background: #3d3d3f;border-radius: 8px;margin: 0 10px 5px 0;border:1px solid;border-color:#3d3d3f;}
.roll-title.roll-title-1{border-color: #968020;color:#968020;background: transparent;}
.roll-title.roll-title-2{border-color: #ca5434;color:#ca5434;background: transparent;}
.roll-title.roll-title-3{border-color: #83a523;color:#83a523;background: transparent;}
.roll-title.roll-title-4{border-color: #bb86ff;color:#bb86ff;background: transparent;}
.roll-title.roll-title-5{border-color: #50b9dc;color:#50b9dc;background: transparent;}
.roll-title.roll-title-7{border-color: #f5a800;color:#f5a800;background: transparent;}
.roll-room-list .roll-title:first-child{margin-left: 0;}
.roll-user-about{color: #888;font-size: 12px; margin-top: 10px;}
.roll-user-info .divide{background-color: #fff;margin:7px 0;opacity: 0.1;filter:alpha(opacity=10);border:none;height: 1px;width: 610px;}
.roll-microblog-weibo{display: inline-block;width: 19px;height: 16px;background: url(../img/microblog-icon.png) no-repeat -1px -1px;vertical-align: middle;margin-top: -4px;}
.roll-microbolg-qq{display: inline-block;vertical-align: middle;width: 17px;height: 16px;background: url(../img/microblog-icon.png) no-repeat -25px -1px;margin-top: -4px;}
.roll-microbolg-fb{display: inline-block;vertical-align: middle;width: 16px;height: 16px;background: url(../img/microblog-icon.png) no-repeat -45px 0;margin-top: -4px;}
.roll-microbolg-tt{display: inline-block;vertical-align: middle;width: 16px;height: 15px;background: url(../img/microblog-icon.png) no-repeat -64px 0px;margin-top: -4px;}
.roll-block{padding:10px;background-color: #22252a;margin-bottom: 10px;}
#yw2{display: inline-block;}
.pager #yw1{margin-bottom: 20px;padding: 10px 0;}
.roll-block-tt{font-size: 14px;color: #bbb;font-weight: 500;color: #999;font-family: 'Helvetica Neue','Lucida Grande','Microsoft YaHei',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB';margin:0 0 10px;}
.roll-room-time{font-size: 14px;color: #bbb;line-height: 100%;}
.roll-block .divide{border-color: #333;margin:10px 0;}
.roll-room-about{font-size: 12px;color: #999;}
.roll-prize{padding: 10px 0 0 10px;background-color: #1a1a1a;}
.roll-prize label{font-weight: 500;margin-bottom: 0;}
.roll-prize .steam-item{width: 80px;height: 53px;margin-bottom: 0;margin-right: 0;float:none;margin: 0 2px 0;}
.roll-prize .steam-item input[type="checkbox"]{position:absolute;width:0;height:0;opacity: 0;filter:alpha(opacity=0);}
.roll-prize .steam-item input[type="checkbox"]:checked ~ .selected-right-icon,.roll-prize .steam-item.active .selected-right-icon{display: block;}
.roll-prize li{float: left;width:80px;margin: 0 12px 10px 0;}
.roll-prize-del{cursor: pointer;}
.btn-add-prize{display:block;width: 80px;height: 53px;background: url(../img/roll-icon.png) no-repeat 0 -54px;cursor: pointer;margin-left: 5px;}
.roll-number-input{width: 83px;height:29px;border:1px solid #323232;padding:5px 12px;text-align: center;color: #666;font-size:12px;background-color: #1a1a1a;margin-left: 10px;line-height: 16px;}
.btn-roll{width: 101px;height: 27px;background-color: #ff6600;color: #fff;font-size: 14px;vertical-align: top;border-radius: 2px;line-height: 15px;}
.btn-roll:hover{color: #fff;}
.btn-roll:active,.btn-roll:focus,.btn-roll:active:hover,.btn-roll:focus:hover{color: #fff;}
.roll-in-prize li{padding:10px 0 0 21px;background-color: #1a1a1a;}
.roll-in-prize li.even{background-color: #262626;}
.roll-in-prize li:hover .name-list-img{box-shadow: 0 0 5px #fff;}
.name-list-img{width: 51px;height: 51px;border:3px solid #535353;border-radius: 45px;display: inline-block;vertical-align: middle;}
.name-list-img img{display: block;border-radius: 45px;background-color:transparent;}
.roll-in-name{display: inline-block;margin-left: 5px;width: 100px;vertical-align: middle;color: #bbb;}
.roll-in-win{display: inline-block;vertical-align: middle;margin-left: 10px;}
.roll-in-steam{width: 450px;margin-left: 257px;}
.join-name-list{background-color: #1a1a1a;padding:10px 0;text-align: center;margin-bottom: 10px;}
.join-name-list a:hover{text-decoration: none;}
.join-name-list a:hover .join-name{color: #ff6600;} 
.join-name-list a:hover .name-list-img{box-shadow: 0 0 5px #fff;}
.join-name-list .name-list-img{margin-bottom: 5px;}
.join-name-list li{float: left;width: 12.5%;padding:0 5px;}
.roll-block .join-name-list li{margin-bottom:5px;}
.join-name{color: #bbb;}
.time-edit{font-size: 14px;color: #8c8c8c;cursor: pointer;}
.time-edit:active,.time-edit:focus,.time-edit:active:hover,.time-edit:focus:hover{color: #258db9}
.time-edit:hover{color: #258db9;}
.time-edit:hover .time-edit-icon{background:url(../img/roll-icon.png) no-repeat -66px -1px;}
.time-edit-icon{display: inline-block;width:16px;height: 16px;background: url(../img/roll-icon.png) no-repeat -47px -1px;vertical-align: middle;margin: -2px 5px 0 0}
.roll-prize-history .divide{border-top:2px solid #333;margin-bottom: 0;}
.prize-history-box{border-top: 1px solid #2c2c2c;padding:10px 0;}
.prize-history-list li{padding:0 10px;width: 100%;box-sizing:content-box;margin-left: -10px;overflow: hidden;}
.prize-history-list li.active{background: #1a1a1a;}
.prize-history-list li:hover{background: #1a1a1a;}
.prize-history-list li:first-child .prize-history-box{border-top: 0;}
.prize-history-img{width: 34px;height: 34px;border:2px solid #5c5c5c;border-radius: 30px;display: inline-block;vertical-align: middle;}
.prize-history-img img{display: block;border-radius: 50px;background-color: transparent;}
.prize-history-name{display: inline-block;width: 60px;vertical-align: middle;color: #bbb;margin-left: 5px;}
.prize-history-steam{float: right;width: 190px;text-align: left;margin-top: 8px;}
.prize-history-bag .steam-item{margin: 10px 10px 0 0;width: 65px;height: 44px;}
.prize-history-list li:hover .prize-history-img{box-shadow: 0 0 4px #fff;}
.roll-success-list{padding:10px 10px 1px;background: #2e3238;}
.roll-success-list > li{padding:15px 0 5px 15px;background:#23252b;margin-bottom: 10px;border:1px solid #333;}
.roll-success-img{float: left;width: 72px;height: 72px;padding:3px;background: #4d4d4d;border:3px solid #242424;border-radius: 50px;background-color: #4d4d4d;}
.roll-success-img img{display: block;border-radius: 50px;background-color:transparent;}
.roll-success-info{margin-left: 85px;padding-top: 10px;}
.roll-success-main{width: 172px;float: left;}
.roll-success-name{color: #bbb;}
.roll-success-steam{padding-top: 10px;margin-left: 180px;}
.found-romm-user{padding:15px 0 15px 15px;background:#24252a;margin:0 12px 10px 12px;border:1px solid #333;border-radius: 4px;}
.found-romm-info{margin-left: 85px;padding-top: 10px;}
.found-romm-message{overflow: hidden;margin-bottom: 10px;}
.found-romm-name{color: #bbb;font-size: 14px;margin-right: 5px;float: left;}
.level-lineheight{float: left;margin-top: 6px;}
.found-room{padding-top:20px;background: #2f3239;}
.form-group{padding: 0 12px;}
.found-room .control-label{font-weight: 500;}
.found-room .en .control-label{width: 100px;}
.found-room .control-label.control-label-alert{width: 100%;}
.form-control{font-size: 12px;}
.found-room .form-control{background: #23252b;border:1px solid #23252b;border-radius: 0;color: #999;border-radius: 4px;width: 100%;}
.found-room .form-control#verifyCode{width: 148px;}
#captche{border-radius: 4px;}
.found-room .en .form-control{width: 461px;}
.modal-footer{border:none;background: #393f46;text-align: center;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;padding: 5px;}
#rollitem-save.btn.btn-normal{background: #20869a;color: #fff;border-color: #20869a;width: 80px;}
.found-room{border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
.found-room .col-sm-10{width: 81.33333333333334%;padding-left: 0;}
.form-control.room-info{height:65px;overflow: hidden}
.form-control.room-datetime{border-radius: 4px;width: 158px;height: 29px;line-height: 15px;border:1px solid #23252b;background: #23252b;text-align: center;text-align: center;color: #999;padding:6px 12px;display:inline-block;cursor:pointer;}
.en .form-control.room-datetime{width: 158px;}
.dropdown-menu.datetimepicker .datetimepicker-days td, .dropdown-menu.datetimepicker .datetimepicker-days th{width: auto;}
.roll-room-screen{float: left;}
.roll-room-screen > li{float: left;height: 50px;font-size: 14px;padding: 0 48px;}
.roll-room-screen > li > a{color: #a1a5a9;padding-left:24px;display: block;position: relative;}
.roll-room-screen > li.roll-screen-item.roll-room-new > a:before{content: '';position: absolute;width: 20px;height: 20px;left: 0;top: 15px;background: url('../img/roll-icon.png') no-repeat center;background-position: -386px -100px;}
.roll-room-screen > li.roll-screen-item.roll-room-new > a:hover:before,.roll-room-screen > li.roll-screen-item.roll-room-new.active > a:before{background-position: -413px -100px;}
.roll-room-screen > li.roll-screen-item.roll-room-hot > a:before{content: '';position: absolute;width: 20px;height: 20px;left: 0;top: 15px;background: url('../img/roll-icon.png') no-repeat center;background-position: -366px -101px;}
.roll-room-screen > li.roll-screen-item.roll-room-hot > a:hover:before,.roll-room-screen > li.roll-screen-item.roll-room-hot.active > a:before{background-position: -438px -101px;}
.roll-room-screen > li.roll-screen-item.active a{color:#14b9d6;}
.roll-room-screen > li.roll-screen-item.active{background: #2e3238;}
.roll-room-screen > li > a:hover{color: #14b9d6;text-decoration: none;}
.roll-room-screen > li.active > a{color: #ff6600;}
.roll-room-screen .dropdown-menu{background-color: #525863;width: 180px;padding:0 12px;border: none;}
.roll-room-screen .dropdown-menu>li.caret{width:0;height:0;float:none;display:block;border:7px solid transparent;border-bottom: 9px solid #262626;position:absolute;left:50%;top:-21px;margin-left:-7px;}
.roll-room-screen .dropdown-menu>li{float: left;width:100%;padding:3px 0;text-align: left;border-top: 1px solid #444953;}
.roll-room-screen .dropdown-menu>li>a{text-align: left;padding:3px 0;display: inline;}
.roll-room-screen .dropdown-menu>li>a:active,.roll-room-screen .dropdown-menu>li>a:hover,.roll-room-screen .dropdown-menu>li>a:focus{background-color: transparent;}
.roll-room-search{width: 180px;height: 30px;background: #282b2e;color: #b5bdce;border:1px #40484f solid;margin-right: 20px;padding:6px 35px 6px 12px;line-height: 12px;border-radius: 30px;}
.roll-search-box{float: right;position: relative;margin-left: 14px;}
.btn-roll-search{position: absolute;height: 100%;width: 29px;right:24px;top:2px;text-align: center;line-height: 15px;background: transparent;border:0;outline: none;}
.roll-search-icon,.search-icon{display: inline-block;width: 16px;height: 17px;background: url(../img/roll-icon.png) no-repeat -42px -23px;}
.btn-roll-search:active .roll-search-icon,.btn-roll-search:focus .roll-search-icon{background: url(../img/roll-icon.png) no-repeat -21px -23px;}
.roll-room-dropdown{margin: 5px 10px 0 50px;}
.roll-room-list{padding: 50px 16px 0 16px;margin-right: -32px;position: relative;}
.roll-room-list li{position:relative;float: left;width: 246px;height: 286px;background-color: #373d45;padding-top: 40px;margin-right: 19px;margin-bottom: 60px;border-radius: 2px;border: 1px solid rgba(31,38,46,0.6);}
.roll-room-list li:hover{background-color: #3e4855;box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.roll-room-list li:hover .roll-room-content{background-color: #323b46;}
.roll-room-img{position: absolute;left:90px;top:-37px;width: 72px;height: 72px;}
.roll-room-img b{position: absolute;left:0;top:0;display:block;width: 72px;height: 72px;background: #fff;opacity: 0.1;filter:alpha(opacity=10);padding:3px;border-radius: 50px;}
.roll-room-img b + b{opacity: 0.25;filter:alpha(opacity=25);width: 66px;height: 66px;left:3px;top:3px;}
.roll-room-img img{position: relative;display:block;border-radius: 50px;margin:6px;background-color: transparent;}
.roll-room-name{margin:0 10px 5px;text-align: center;color: #999;}
.roll-room-info{height: 130px;border-bottom: 1px solid #3c4550;}
.roll-room-info .deep-gray{padding: 0 10px;color: #afb0b2;}
.deep-gray.new-roll{margin-top: 10px;}
.roll-room-list.new-roll .roll-room-name{color: #fff;}
.roll-room-info .divide{border-color: #313131;margin:10px 0;}
.roll-prize-poll .empty{display: none;}
#yw0 .items .empty{position: relative;height: 358px;font-size: 12px;color: #fff;text-align: left;padding-left: 400px;margin-bottom: 50px;}
#yw0 .items .empty .roll-sorry{font-size: 40px;color:#fff;font-weight: bold;margin-top: 20px;}
#yw0 .items .empty:after{content: '';position: absolute;width: 203px;height: 358px;background: url('../img/roll/no-roll-bg.png') no-repeat center;top: 0;right: 360px;}
.roll-room-title{height:24px;text-align: center;margin-bottom: 10px;overflow: hidden;}
.roll-room-content{color: #8c8c8c;height: 50px;overflow: hidden;background:url('../img/roll/card-decor-bg.png') #2d3035;padding: 8px 8px 8px 10px;background-position: 0 -2px;}
.join-name{display: block;}
.roll-room-content .steam-item{margin: 0 0 10px 10px;}
.btn-roll-room{min-width:140px;height: 30px;border:1px solid #808182;background: #383e48;text-align: center;font-size: 12px;line-height: 16px;color: #b1b1b1;border-radius: 30px;}
span.btn-roll-room:hover{color:#b1b1b1;}
.btn-roll-ft{height:56px;text-align: center;padding-top:14px;}
.btn-roll-room.active{color:#0daff4;cursor: pointer;background-color: #2b485b;border-color: #277698;box-shadow: none;outline: none;}
.btn-roll-room.active:hover{color: #fff;background-color: #258db9;}
.roll-room-my{background-color: transparent;font-size: 12px;color: #258db9;border-color: #258db9;border-radius: 2px;height: 26px;line-height: 12px;}
.roll-room-my:active,.roll-room-my:hover, .roll-room-my:focus,.roll-room-my:active:hover,.roll-room-my:focus:hover{color: #258db9;box-shadow: 0 0 10px #258db9;}
.roll-room-my.active{background-color: #258db9;color:#fff;}

.steam-box .items{overflow: hidden;}
#yw2

#roll-steam-modal .modal-dialog{width: 650px;}
#roll-steam-modal .modal-dialog .modal-middle{width: 650px;}
#roll-steam-modal .modal-body{background-color: #2e3238;padding:0;}
#roll-steam-selected{padding:10px;border-bottom: 2px solid #333}
#roll-steam-selected .selected-right-icon{display: none;}
.roll-steam-bag{background-color: #23252b;border:1px solid #23252b;padding:7px 0 0 3px;}
#roll-steam-modal .dropdown-toggle.selectpicker {background-color: #1a1a1a;}
#roll-steam-modal  .bag-select .btn-default{min-width: 90px;}
#roll-steam-modal .bag-select{padding:8px 0;width: 100%;}
#roll-steam-bag{padding:10px;padding-right:0;}
#roll-steam-modal .search-control{background-color: #1a1a1a;width: 140px;position: relative;border: none;height: 30px;border-radius: 4px;color: #b5bdce;padding: 0 12px;}
.bag-search{position: relative;width: 140px;height: 30px;float: right;}
#roll-steam-modal .steam-item{margin-right: 5px;margin-bottom: 10px;cursor:pointer;}

.bag-type{display:inline-block;width:100%;padding-right:10px;}
.bag-type .ajax-sort{color:#999;}
.bag-type .ajax-sort.asc,.bag-type .ajax-sort.desc{color:#79a118;}
.grayscale{-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); _filter:none; }

.roll-success-list .join-name-list{padding: 0px;background-color: transparent;margin:0 15px 10px 0;  display: inline-block;}
.roll-success-list > li{text-align: center;}
.roll-success-list .join-name-list li{width: 90px;margin:10px;overflow: hidden;height: 79px;}
.roll-success-list .join-name-list li.current .name-list-img{border:3px solid #ff6600;}
.roll-success-list .join-name-list li.current .join-name{color: #ff6600;}
.roll-draw-item{overflow: hidden;overflow: hidden;padding-top: 5px;height: 79px;}
.slotmachine-switch-box{position: absolute;  right: -104px;top: 68px;width: 100px;height: 20px;background-color: #111;}
.slotmachine-switch-branches{position: absolute;width: 20px;height: 50px;background-color: #111;top:-50px;right:0;}
.slotmachine-switch-on{position: absolute;  right: -8px;top: -140px;width: 36px;height: 100px;border-radius: 10px;border-radius: 10px;background-color: #262626;}
#roll-slotmachine .modal-dialog{max-width: 522px;}
.steam-item .opacity-b{background:#fff;opacity: 0.3;filter:alpha(opacity=30);display:none;}
.steam-item.locked .opacity-b,.steam-item.sent .opacity-b{display: block;}
.modal-footer .btn-roll{font-size:14px;background-color: #79a118;border-color: #79a118;line-height: 0;padding: 10px;margin: 6px;height: 30px;}
.roll-prize li p{margin-top:5px;}
#infscr-loading{text-align:center;width:100%;display:inline-block;position:absolute;left:0;bottom:0;}
#roll-steam-selected .steam-item{margin-right:7px;margin-bottom:7px;}
.roll-room-list.en .roll-room-info .deep-gray{letter-spacing:-0.5px;}
.roll-room-screen > li.dropdown.en .dropdown-menu>li>a{display:block;}
.roll-room-screen > li.dropdown.en .dropdown-menu>li[role="presentation"]{width:100%;float:none;padding-left:0;}
.roll-prize.roll-prize-poll.guest{min-height: 62px;box-sizing:content-box;background-image:url('../img/roll/repeat-items-bg.png');}

.roll-room-content .steam-item{width: 49px;height: 33px;  margin: 1px 0 0 10px;}
.roll-room-content .steam-item:first-child{margin-left: 0;}
.roll-winning {display: inline-block;width: 142px;height: 83px;background-image: url(../img/roll-icon.png);background-repeat: no-repeat;background-position: -113px 0;position: absolute;left: 50px;top: 50px;}
.roll-winning.en{background-position: -282px 0;}
.tooltip-inner{background-color: #262626;}
.tooltip.top .tooltip-arrow {border-top-color: #262626;}
.bm-btn:before{display:inline-block;content:"";width:15px;height:15px;background:url(../img/roll-icon.png) no-repeat -88px 0;vertical-align: middle;margin:-1px 0 0 0;}
.bm-btn:hover:before{background-position: -88px -15px;}
.modal-footer .btn.btn-warning{background: #258db9;color:#fff;border: none;padding: 5px 20px;border-radius: 4px;}
.btn.btn-warning{background: #2b485b;color:#0daff4;border: none;padding: 5px 20px;border-radius: 30px;}
.btn.btn-warning:hover{background: #258db9;color: #fff;}
.join-btn.bm-btn:before{margin:0 5px 0 0;background-position: -88px -0px;}
.join-btn.bm-btn:hover:before{background-position: -88px -15px;}
.roll-microblog-item{display:inline-block;margin-right:20px;margin-bottom: 5px;width:302px;}
svg{display: none;}
#roll-steam-bag .isagree-item label{border:1px solid transparent;font-weight: 300;padding:0 5px;}
#roll-steam-bag .isagree-item label.error{border:1px solid #a94442;}



.modal-content{background-color: #383f45;}
.modal-header h4{position: relative;padding-left: 20px;}

.modal-header h4:before{content: '';position: absolute;width: 10px;height: 10px;background: url('../img/roll-icon.png') no-repeat center;background-position: 0 -112px;top: 2px;left: 0;}
.public-modal .modal-header{background-color: #393f46;}
.public-modal .modal-body{background-color: #2e3238;}
.public-modal .modal-footer{background-color: #393f46;}
.modal-header,.public-modal .modal-header{padding: 0 20px;border: none;}
.close,.public-modal .close{color: #afb0b2;opacity: 1;filter: alpha(opacity=100);}
.public-modal .modal-header .close{margin-top: 9px;position: relative;z-index: 1;}
.modal-warning-icon{display: none;}
.public-modal .btn.btn-normal{background: #20869a;border-color:#20869a;}
.close:focus, .close:hover{color: #afb0b2;opacity: 1;filter: alpha(opacity=100);}
.modal-header .close{margin-top: -5px;position: relative;z-index: 1;}
.modal-header h4{font-size: 12px;}
.modal-success-icon:after{background: #15b9d5;}
.modal-success-icon{background: none;}
.roll-hd.roll-owner-head{height: 30px;background: #24252a;border: none;margin-top: 15px;margin-bottom: 0;}
.roll-owner-head .common-breadcrumb li{float: left;}
.roll-owner-head .common-breadcrumb li:first-child{font-size: 0;width: 48px;background: #363b42;position: relative;height: 30px;text-align: center;padding: 7px 0 0 12px;}
.roll-owner-head .common-breadcrumb li:first-child:after{content: '';position: absolute;border: 15px solid transparent;border-left: 15px solid #363b42;top: 0;right: -30px;z-index: 1;}
.roll-owner-head .common-breadcrumb li:first-child a{background: url(../img/roll-icon.png);background-repeat: no-repeat;background-position: -20px -124px;display: inline-block;width: 20px;height: 20px;}
.roll-owner-head .common-breadcrumb li:first-child + li{width: 55px;height: 30px;background: #292e34;text-align: center;padding: 7px 0 0 21px;position: relative;font-size: 0;}
.roll-owner-head .common-breadcrumb li:first-child + li:after{content: '';position: absolute;border: 15px solid transparent;border-left: 15px solid #292e34;top: 0;right: -30px;}
.roll-owner-head .common-breadcrumb li:first-child + li a{background: url(../img/roll-icon.png);background-repeat: no-repeat;background-position: -43px -124px;display: inline-block;width: 20px;height: 20px;}
.roll-owner-head .common-breadcrumb li:first-child + li + li{padding: 5px 25px;}
.roll-user-box.roll-user-content{height: 180px;background: url(../img/roll/roll-user-bg.png) no-repeat center;}
.roll-user-content .roll-user-img{margin: 15px 0 0 25px;}
.roll-user-content .roll-user-info{padding-top: 15px;margin-left: 155px;}
.user-creat-roll{margin-right: 20px;margin-top: 5px;}
.roll-user-left{max-width: 760px;}
.user-creat-roll .btn-found-roll{background: #79a118;color: #fff;}
.roll-content-left{width: 770px;}
.roll-content-left .roll-block{padding: 0;margin: 0;}
.roll-illustrate,.new-roll.roll-block-tt{height: 50px;background: #22252a;line-height: 50px;padding: 0 20px;margin: 0;}
.roll-head-icon{background: url('../img/roll-icon.png') no-repeat center;background-position: 0 -112px;width: 10px;height: 10px;display: inline-block;margin-right: 10px;}
.roll-content-body{padding: 10px 20px;background: #34393f;}
.roll-content-body .roll-room-time{color: #ff6616;margin-bottom: 10px;}
.new-roll.roll-prize{background: #2a2d33;}
#roll-form{background: #34393f;padding: 12px;}
.roll-number-input.new-roll{background: #23252b;border-radius: 4px;}
.btn-roll.new-roll{background: #20869a;margin-left: 12px;}
.roll-in-prize li.new-roll{background: #393f46;}
.roll-in-prize li.new-roll.even{background: #34393f;}
.join-name-list-bg{background: #34393f;padding: 12px;}
.join-name-list-bg .join-name-list{background: #2a2d33;margin-bottom: 0;}
.new-roll-color{color: #21869a;}
.roll-content-right{width: 290px;}
.roll-content-right .roll-block{padding: 0;overflow: hidden;}
.prize-history-list.new-roll{background: #34393f;}
.prize-history-list.new-roll li:hover{background: #40434d;}
.prize-history-list.new-roll li{padding: 0 12px;margin: 0;background: #393f46;}
.prize-history-box.new-roll{background: none;}
.new-roll .prize-history-name{width: 55px;}
.new-roll .prize-history-bag .steam-item{margin: 10px 3px 0 0;}
.prize-history-list.new-roll li.even{background: #34393f;}
.prize-history-box.new-roll{border:none;}
.hides{display: none;}
.roll-user-message{margin-bottom: 5px;overflow: hidden;}
.roll-user-message span{float: left;margin: 8px 6px;}
.new-dropdown.roll-room-dropdown{width: 180px;height: 30px;padding: 4px 12px;border: 1px #40484f solid;background: #282b2e;color: #b5bdce;text-align: left;margin: -5px 10px 0 50px;border-radius: 4px;}
.new-dropdown.roll-room-dropdown a{color: #b5bdce;padding: 0;}
.new-dropdown.roll-room-dropdown .caret{float: right;margin-top: 9px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color: #fff;}
.new-dropdown.roll-room-dropdown:hover .dropdown-toggle{color: #fff;}
.roll-room-dropdown .btn-default{background: #25272a;}
.selectpicker.btn{width: 140px;height: 30px;padding: 4px 12px;border: 1px #282b2e solid;background: #282b2e;color: #b5bdce;font-size: 12px;}
.selectpicker.btn .caret{background: none;}
.roll-room-dropdown .btn.selectpicker{width: 180px;height: 30px;padding: 4px 12px;border: 1px #40484f solid;background: #282b2e;color: #b5bdce;}
.roll-room-dropdown .btn.selectpicker .caret{background-color: #363b43;}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{border: 1px #40484f solid;background: #282b2e;color: #b5bdce;}
.bootstrap-select .caret:after{margin-top: -3px;}










.steam-item.active .selected-right-icon {
    display: block;
}
.steam-item .selected-right-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px;
    display: none;
}
.steam-item .selected-right-icon.small-right {
    background-position: 0px -75px;
    height: 25px;
    width: 25px;
}
.selected-right-icon {
    background: url(../img/selected-green.png) no-repeat;
    display: inline-block;
}
.opacity-b ~ * {
    position: relative;
}
.screen-type li {
    float: left;
    margin-right: 5px;
}
.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 28px;
    border: 0;
    background: transparent;
}
.icheckbox, .iradio {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: url(../img/icheck.png) no-repeat;
    cursor: pointer;
}
.icheckbox {
    background-position: -26px 0;
}
.modal-middle {
    display: table-cell;
    vertical-align: middle;
}
.modal .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    min-width: 425px;
    display: table;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.icheckbox.checked {
    background-position: -39px 0;
}
.opacity-b {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}


.qualitly-normal .popover.steam-popup{border-color: #b2b2b2;}
.qualitly-genuine .popover.steam-popup{border-color: rgb(77, 116, 85);}
.qualitly-vintage .popover.steam-popup{border-color: #476291;}
.qualitly-unusual .popover.steam-popup{border-color: #8650AC;}
.qualitly-unique .popover.steam-popup{border-color: rgb(210, 210, 210);}
.qualitly-community .popover.steam-popup{border-color: #70B04A;}
.qualitly-developer .popover.steam-popup{border-color: #A50F79;}
.qualitly-selfmade .popover.steam-popup{border-color: #70B04A;}
.qualitly-customized .popover.steam-popup{border-color: #476291;}
.qualitly-strange .popover.steam-popup{border-color: rgb(207, 106, 50);}
.qualitly-completed .popover.steam-popup{border-color: #b2b2b2;}
.qualitly-haunted .popover.steam-popup{border-color: #38F3AB;}
.qualitly-tournament .popover.steam-popup{border-color: #8650AC;}
.qualitly-favored .popover.steam-popup{border-color: #FFFF00;}
.qualitly-ascendant .popover.steam-popup{border-color: #EB4B4B;}
.qualitly-autographed .popover.steam-popup{border-color: #ADE55C}
.qualitly-legacy .popover.steam-popup{border-color: #fff;}
.qualitly-exalted .popover.steam-popup{border-color: rgb(209,209,209)}
.qualitly-frozen .popover.steam-popup{border-color: rgb(70, 130, 180)}
.qualitly-corrupted .popover.steam-popup{border-color: #A32C2E}
.qualitly-lucky .popover.steam-popup{border-color: rgb(50, 205, 50)}

.qualitly-normal .popover.steam-popup.right .arrow{border-right-color: #b2b2b2;}
.qualitly-genuine .popover.steam-popup.right .arrow{border-right-color: rgb(77, 116, 85);}
.qualitly-vintage .popover.steam-popup.right .arrow{border-right-color: #476291;}
.qualitly-unusual .popover.steam-popup.right .arrow{border-right-color: #8650AC;}
.qualitly-unique .popover.steam-popup.right .arrow{border-right-color: rgb(210, 210, 210);}
.qualitly-community .popover.steam-popup.right .arrow{border-right-color: #70B04A;}
.qualitly-developer .popover.steam-popup.right .arrow{border-right-color: #A50F79;}
.qualitly-selfmade .popover.steam-popup.right .arrow{border-right-color: #70B04A;}
.qualitly-customized .popover.steam-popup.right .arrow{border-right-color: #476291;}
.qualitly-strange .popover.steam-popup.right .arrow{border-right-color: rgb(207, 106, 50);}
.qualitly-completed .popover.steam-popup.right .arrow{border-right-color: #b2b2b2;}
.qualitly-haunted .popover.steam-popup.right .arrow{border-right-color: #38F3AB;}
.qualitly-tournament .popover.steam-popup.right .arrow{border-right-color: #8650AC;}
.qualitly-favored .popover.steam-popup.right .arrow{border-right-color: #FFFF00;}
.qualitly-ascendant .popover.steam-popup.right .arrow{border-right-color: #EB4B4B;}
.qualitly-autographed .popover.steam-popup.right .arrow{border-right-color: #ADE55C}
.qualitly-legacy .popover.steam-popup.right .arrow{border-right-color: #fff;}
.qualitly-exalted .popover.steam-popup.right .arrow{border-right-color: rgb(209,209,209)}
.qualitly-frozen .popover.steam-popup.right .arrow{border-right-color: rgb(70, 130, 180)}
.qualitly-corrupted .popover.steam-popup.right .arrow{border-right-color: #A32C2E}
.qualitly-lucky .popover.steam-popup.right .arrow{border-right-color: rgb(50, 205, 50)}

.qualitly-normal .popover.steam-popup.left .arrow{border-left-color: #b2b2b2;}
.qualitly-genuine .popover.steam-popup.left .arrow{border-left-color: rgb(77, 116, 85);}
.qualitly-vintage .popover.steam-popup.left .arrow{border-left-color: #476291;}
.qualitly-unusual .popover.steam-popup.left .arrow{border-left-color: #8650AC;}
.qualitly-unique .popover.steam-popup.left .arrow{border-left-color: rgb(210, 210, 210);}
.qualitly-community .popover.steam-popup.left .arrow{border-left-color: #70B04A;}
.qualitly-developer .popover.steam-popup.left .arrow{border-left-color: #A50F79;}
.qualitly-selfmade .popover.steam-popup.left .arrow{border-left-color: #70B04A;}
.qualitly-customized .popover.steam-popup.left .arrow{border-left-color: #476291;}
.qualitly-strange .popover.steam-popup.left .arrow{border-left-color: rgb(207, 106, 50);}
.qualitly-completed .popover.steam-popup.left .arrow{border-left-color: #b2b2b2;}
.qualitly-haunted .popover.steam-popup.left .arrow{border-left-color: #38F3AB;}
.qualitly-tournament .popover.steam-popup.left .arrow{border-left-color: #8650AC;}
.qualitly-favored .popover.steam-popup.left .arrow{border-left-color: #FFFF00;}
.qualitly-ascendant .popover.steam-popup.left .arrow{border-left-color: #EB4B4B;}
.qualitly-autographed .popover.steam-popup.left .arrow{border-left-color: #ADE55C}
.qualitly-legacy .popover.steam-popup.left .arrow{border-left-color: #fff;}
.qualitly-exalted .popover.steam-popup.left .arrow{border-left-color: rgb(209,209,209)}
.qualitly-frozen .popover.steam-popup.left .arrow{border-left-color: rgb(70, 130, 180)}
.qualitly-corrupted .popover.steam-popup.left .arrow{border-left-color: #A32C2E}
.qualitly-lucky .popover.steam-popup.left .arrow{border-left-color: rgb(50, 205, 50)}

.f-danger{color: #c83636;}
.f-warning{color: #ff6600;}
.f-info{color: #258db9;}
.f-success{color: #79a118;}
.mb-10 {
    margin-bottom: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.mr-10 {
    margin-right: 10px;
}

.steam-popup{background: #1a1a1a;max-width: none;border-radius: 3px;text-align: left;padding:0;min-width: 230px;z-index:12;}
.popover.steam-popup{border:2px solid;max-width:308px;margin-top:-5px;}
.steam-popup .arrow{border-width: 12px;}
.steam-popup.right .arrow{left:-12px;}
.steam-popup.left .arrow{right:-12px;}
.steam-popup.top .arrow{bottom:-12px;}
.steam-popup.bottom .arrow{top:-12px;}
.popover.steam-popup.right .arrow:after {left:2px;border-right-color: #1a1a1a;}
.popover.steam-popup.left .arrow:after {right:2px;border-left-color: #1a1a1a;}
.popover.steam-popup.top .arrow:after {bottom:2px;border-top-color: #1a1a1a;}
.popover.steam-popup.bottom .arrow:after {top:2px;border-bottom-color: #1a1a1a;}
.csgo-item-bg{background: #2e2e2e;}
.csgo-item-bg img{background: url('../img/quiz/csgo-item-bg.png') no-repeat center;width: 288px;height: 192px;}
.steam-popup-title{font-size: 16px;color: #bbb;padding: 0 10px;margin-bottom: 10px}
.steam-popup-secret{color: #fff;font-size: 14px;height: 25px;line-height: 25px;display: block;padding: 0 10px;background: url(../img/quiz/quiz-icon.png) no-repeat center;background-position: -388px -35px;}
.cannot-guess{color: #999999;}
.steam-popup-details{font-size: 12px;margin-left: 10px;}
.popup-csgo-icon{width: 33px;height: 33px;background: url(../img/quiz/quiz-icon.png) no-repeat center;background-position: -283px -34px;}
.steam-popup .popover-content{padding:0;}
.steam-popup .popover-content .market-article-introduce{width: 304px;}
.steam-popup .popover-content .market-article-info{padding:0;margin:10px;border-bottom: 1px solid #333;padding-bottom: 10px;}
.steam-popup .popover-content .market-article-info:last-child{border-bottom:0;}
.steam-popup-container{padding:10px;}
.steam-popup-data{margin-left: 89px;min-height: 46px;}
.steam-popup .tables{color: #bbbbbb;}
.steam-popup .tables .table-cell{padding-left: 5px;}
.steam-popup .tables .td{vertical-align: top;}
.steam-popup-qualitly{display: block;height: 22px;line-height: 22px;color: #000;text-align: center;}
.popover.steam-popup.right .arrow {border-right-color: #999;}
.popover.steam-popup.left .arrow {border-left-color: #999;}
.popover.steam-popup.bottom .arrow {border-bottom-color: #999;}
.popover.steam-popup.top .arrow {border-top-color: #999;}
.steam-popup-img{padding:8px 8px 0;}
.steam-popup-normal{background: #B2B2B2}
.steam-popup-genuine{background: rgb(77, 116, 85)}
.steam-popup-vintage{background: #476291}
.steam-popup-unusual{background: #8650AC}
.steam-popup-unique{background: rgb(210, 210, 210);}
.steam-popup-community{background: #70B04A}
.steam-popup-developer{background: #A50F79}
.steam-popup-selfmade{background: #70B04A}
.steam-popup-customized{background: #476291}
.steam-popup-strange{background: rgb(207, 106, 50)}
.steam-popup-completed{background: #b2b2b2;}
.steam-popup-haunted{background: #38F3AB}
.steam-popup-tournament{background: #8650AC}
.steam-popup-favored{background: #FFFF00}
.steam-popup-ascendant{background: #EB4B4B}
.steam-popup-autographed{background: #ADE55C}
.steam-popup-legacy{background: #fff;}
.steam-popup-exalted{background: rgb(209,209,209)}
.steam-popup-frozen{background: rgb(70, 130, 180)}
.steam-popup-corrupted{background: #A32C2E}
.steam-popup-lucky{background: rgb(50, 205, 50)}
.steam-popup-rarity{color: #000;display: block;padding:0 10px;line-height: 20px;height: 20px;}
.steam-popup-rarity.rarity-common{background:#b0c3d9;background-image:-webkit-linear-gradient(to left, #1a1a1a, #b0c3d9);
  background-image:linear-gradient(to left,#1a1a1a,#b0c3d9);}  /*普通*/
.steam-popup-rarity.rarity-uncommon{background:#5e98d9;background-image:-webkit-linear-gradient(to left, #1a1a1a, #5e98d9);
  background-image:linear-gradient(to left,#1a1a1a,#5e98d9);}  /*罕见*/
.steam-popup-rarity.rarity-rare{background:#4b69ff;background-image:-webkit-linear-gradient(to left, #1a1a1a, #4b69ff);
  background-image:linear-gradient(to left,#1a1a1a,#4b69ff);}     /*稀有*/
.steam-popup-rarity.rarity-mythical{background:#8847ff;background-image:-webkit-linear-gradient(to left, #1a1a1a, #8847ff);
  background-image:linear-gradient(to left,#1a1a1a,#8847ff);} /*神话*/
.steam-popup-rarity.rarity-immortal{background:#e4ae39;background-image:-webkit-linear-gradient(to left, #1a1a1a, #e4ae39);
  background-image:linear-gradient(to left,#1a1a1a,#e4ae39);} /*不朽*/
.steam-popup-rarity.rarity-legendary{background:#d32ce6;background-image:-webkit-linear-gradient(to left, #1a1a1a, #d32ce6);
  background-image:linear-gradient(to left,#1a1a1a,#d32ce6);} /*传说*/
.steam-popup-rarity.rarity-arcana{background:#ade55c;background-image:-webkit-linear-gradient(to left, #1a1a1a, #ade55c);
  background-image:linear-gradient(to left,#1a1a1a,#ade55c);} /*至宝*/

.noadd-decor{display: none;}
#roll-steam-bag .steam-box{padding-right: 12px;}
#roll-steam-bag .steam-box .items{background-color: #23252b;padding: 12px 0 0 10px;}
.pager li>a, .pager li>span{background: none;border-radius: 36px;border: 1px solid #afb0b2;color: #afb0b2;width: 36px;height: 36px;text-align: center;line-height: 34px;padding: 0;margin-left: 5px;float: left;}
.pager li>a:focus,.pager li>a:hover,.pager li.active>a{border-color: #14b9d6;color: #14b9d6;background: none;}

.pager #yw4{display: inline-block;}
#yw4 .next a,#yw4 .previous a,#yw2 .next a,#yw2 .previous a{font-size: 0;}
#yw4 .previous a:after,#yw2 .previous a:after{content: '<';font-size: 14px;}
#yw4 .next a:after,#yw2 .next a:after{content: '>';font-size: 14px;}
@media (min-width: 768px){
    #roll-steam-modal .modal-dialog{width: 763px;}
    #roll-steam-modal .modal-dialog .modal-middle{width: 650px;}
}